<div *ngIf="contacto">
  <header>
    <h5>{{ contacto.nombre }} {{ contacto.apellidos }}</h5>
  </header>
  <div>
    <!--
      Para hacer uso de un Pipe, seguido del dato que va a sufrir
      la transformación, indicamos el signo pipe ('|') y el nombre
      del mismo. Es decir, el indicado en el metadato 'name'.
    -->
    <span>{{ contacto | DatosContacto }}</span>
    <hr>
  </div>
  <div>
    <!-- Navegar al perfil de Facebook -->
    <button
      class="red-social"
      *ngIf="contacto.facebook"
      (click)="navegarPerfilFacebook()">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </button>
    <!-- Navegar al perfil de Twitter -->
    <button
      class="red-social"
      *ngIf="contacto.twitter"
      (click)="navegarPerfilTwitter()">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </button>
    <hr>
  </div>
  <div>
    <!-- Botón eliminar -->
    <button
      class="eliminar"
      (click)="notificarContactoEliminar()">
        Eliminar contacto
    </button>
  </div>
</div>
