
<button (click)="cambiarSentidoOrdenacion()">
  <i
    class="fa"
    aria-hidden="true"
    [ngClass]="{
      'fa-sort-alpha-asc': sentidoOrdenacion === 'desc',
      'fa-sort-alpha-desc': sentidoOrdenacion === 'asc'
    }">
  </i>
</button>

<ul>
  <!--
    La directiva 'NgFor' replica una estructura HTML tantas veces como
    elementos haya en una colección dada. Además, en cada iteración tenemos
    acceso al elemento que corresponda.
  -->
  <li
    *ngFor="let contacto of (contactos | OrdenacionContactos:sentidoOrdenacion)"
    (click)="notificarContactoSeleccionado(contacto)">
      {{ contacto.nombre }} {{ contacto.apellidos }}
  </li>
</ul>
