ul {
  list-style: none;
}

li {
  padding: 6px 14px;
  margin: 0;
}

li:hover {
  background: #f0f0f0;
  cursor: pointer;
}

button {
  border: none;
  padding: 0 10px;
}

i {
  font-size: 18px;
  color: #1EAEDB;
}
