<div class="container">
  <header>
    <h1>Super Agenda</h1>
  </header>
  <!-- Barra de navegación -->
  <nav>
    <ul>
      <li>
        <!--
          Para navegar entre las rutas definidas en el módulo 'AppRoutingModule' debemos
          hacer uso de la directiva 'RouterLink'. Si usamos el atributo estándar 'href'
          la navegación la hace el navegador y no la app Angular, por lo que perdemos todas
          las ventajas del Single Page Application.
        -->
        <a routerLink="/nuevo">Nuevo contacto</a>
      </li>
      <li>
        <a routerLink="/todos">Mis contactos</a>
      </li>
    </ul>
  </nav>
  <!--
    Para que el 'Router' de Angular sepa dónde trabajar el routing de la
    app, es necesario establecer una zona dinámica. Esto lo hacemos con la
    directiva 'RouterOutlet'. El 'Router' se encarga de hacer toda la
    manipulación del DOM cuando navegamos una u otra sección.
  -->
  <router-outlet></router-outlet>
</div>
